nodeRed/legoFlow.txt
[
    {
        "id": "ca4dd938.3644c8",
        "type": "tab",
        "label": "LegoProjekt",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4729daab.12c624",
        "type": "inject",
        "z": "ca4dd938.3644c8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "f467679a.5a7b68"
            ]
        ]
    },
    {
        "id": "f467679a.5a7b68",
        "type": "function",
        "z": "ca4dd938.3644c8",
        "name": "",
        "func": "msg.payload = {\n    timestamp : msg.payload/1000,\n    temperature : 44,\n    success : true,\n    device_id : 'pde-module-0002'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 60,
        "wires": [
            [
                "66732bab.152ad4",
                "f98696d7.2ba148"
            ]
        ]
    },
    {
        "id": "66732bab.152ad4",
        "type": "debug",
        "z": "ca4dd938.3644c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "f98696d7.2ba148",
        "type": "google-iot-core out",
        "z": "ca4dd938.3644c8",
        "name": "",
        "qos": "",
        "retain": "",
        "broker": "9edc665b.0dff58",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "ece812e6.4ed8a",
        "type": "serial in",
        "z": "ca4dd938.3644c8",
        "name": "connection To Arduino",
        "serial": "22069a8.63d0966",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "1c729013.1bcac",
                "fcd8398c.d42c5",
                "b86bc21b.603628",
                "8b3f56be.c86b3"
            ]
        ]
    },
    {
        "id": "1c729013.1bcac",
        "type": "function",
        "z": "ca4dd938.3644c8",
        "name": "processData",
        "func": "var d = new Date().getTime()/1000;\n\n\nif(msg.payload === \"pickupSuccess(1)\")\n{\n    msg.payload = {\n    pickupSuccess : true,\n    timestamp : d\n    }\n    return [msg];\n    \n}\nelse if(msg.payload === \"pickupSuccess(0)\")\n{\n    msg.payload = {\n    pickupSuccess : false,\n    timestamp : d\n    }\n    return [msg];\n    \n}\nelse if(msg.payload === \"dropSuccess(1)\")\n{\n    msg.payload = {\n    dropSuccess : true,\n    timestamp : d\n    }\n    return [msg];\n    \n}\nelse if(msg.payload === \"dropSuccess(0)\")\n{\n    msg.payload = {\n    dropSuccess : false,\n    timestamp : d\n    }\n    return [msg];\n}\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "f98696d7.2ba148",
                "66732bab.152ad4",
                "a5fbce7.097aa3",
                "a93510d.c2bf7f"
            ]
        ]
    },
    {
        "id": "1a9bb9d4.e7eb16",
        "type": "inject",
        "z": "ca4dd938.3644c8",
        "name": "",
        "topic": "",
        "payload": "dropSuccess(1)",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "1c729013.1bcac"
            ]
        ]
    },
    {
        "id": "54976864.63ce88",
        "type": "ui_button",
        "z": "ca4dd938.3644c8",
        "name": "",
        "group": "7db14cd.6a9f6b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "pickup left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "pickup(0)",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "5f2dae5.8e2155",
                "59b84850.f2932",
                "9d0451ae.77d3b8"
            ]
        ]
    },
    {
        "id": "15ad50c.817adaf",
        "type": "ui_button",
        "z": "ca4dd938.3644c8",
        "name": "",
        "group": "7db14cd.6a9f6b4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "pickup right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "pickup(1)",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "5f2dae5.8e2155",
                "59b84850.f2932",
                "9d0451ae.77d3b8"
            ]
        ]
    },
    {
        "id": "eb4ddc8f.083648",
        "type": "ui_button",
        "z": "ca4dd938.3644c8",
        "name": "",
        "group": "7db14cd.6a9f6b4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "drop left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "drop(0)",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "5f2dae5.8e2155",
                "59b84850.f2932",
                "9d0451ae.77d3b8"
            ]
        ]
    },
    {
        "id": "4c179fb5.fe5408",
        "type": "ui_button",
        "z": "ca4dd938.3644c8",
        "name": "",
        "group": "7db14cd.6a9f6b4",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "drop right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "drop(1)",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "5f2dae5.8e2155",
                "59b84850.f2932",
                "9d0451ae.77d3b8"
            ]
        ]
    },
    {
        "id": "8be09689.2b5348",
        "type": "ui_button",
        "z": "ca4dd938.3644c8",
        "name": "",
        "group": "7db14cd.6a9f6b4",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "clean log entries",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "error",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "39b33ef4.962cfa"
            ]
        ]
    },
    {
        "id": "5f2dae5.8e2155",
        "type": "serial out",
        "z": "ca4dd938.3644c8",
        "name": "connection to arduino",
        "serial": "22069a8.63d0966",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "39b33ef4.962cfa",
        "type": "function",
        "z": "ca4dd938.3644c8",
        "name": "",
        "func": "flow.set('debug', \"\");\nflow.set('cloud', \"\");\nmsg.payload=\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 720,
        "wires": [
            [
                "df5713b1.945db8",
                "dc9356f8.2ad99"
            ]
        ]
    },
    {
        "id": "59b84850.f2932",
        "type": "function",
        "z": "ca4dd938.3644c8",
        "name": "",
        "func": "var debugText = flow.get('debug');\nif(debugText.split(\"<br>\").length > 25 )\n        debugText = \"\";\ndebugText += msg.payload + '<br>';\nflow.set('debug', debugText);\nmsg.payload = debugText;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 660,
        "wires": [
            [
                "df5713b1.945db8"
            ]
        ]
    },
    {
        "id": "df5713b1.945db8",
        "type": "ui_text",
        "z": "ca4dd938.3644c8",
        "group": "b8de65cc.0166b",
        "order": 1,
        "width": "6",
        "height": "10",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 890,
        "y": 700,
        "wires": []
    },
    {
        "id": "4b348c95.0daee4",
        "type": "ui_toast",
        "z": "ca4dd938.3644c8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 560,
        "y": 800,
        "wires": []
    },
    {
        "id": "9d0451ae.77d3b8",
        "type": "function",
        "z": "ca4dd938.3644c8",
        "name": "",
        "func": "msg.payload = \"toArduino: \" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 800,
        "wires": [
            [
                "4b348c95.0daee4"
            ]
        ]
    },
    {
        "id": "fe2d8c9.999e1f",
        "type": "ui_toast",
        "z": "ca4dd938.3644c8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "a93510d.c2bf7f",
        "type": "function",
        "z": "ca4dd938.3644c8",
        "name": "",
        "func": "if(typeof(msg.payload.pickupSuccess) === typeof(true))\n{\n    msg.payload = \"toCloud: \" + \"pickupSuccess: \" + msg.payload.pickupSuccess;\n    return msg;\n}\nelse if(typeof(msg.payload.dropSuccess) === typeof(true))\n{\n    msg.payload = \"toCloud: \" + \"dropSuccess: \" + msg.payload.pickupSuccess;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 320,
        "wires": [
            [
                "fe2d8c9.999e1f"
            ]
        ]
    },
    {
        "id": "a5fbce7.097aa3",
        "type": "function",
        "z": "ca4dd938.3644c8",
        "name": "",
        "func": "if(typeof(msg.payload.pickupSuccess) === typeof(true))\n{\n    var debugText = flow.get('cloud');\n    if(debugText.split(\"<br>\").length > 25 )\n        debugText = \"\";\n    debugText += \"pickupSuccess: \" + msg.payload.pickupSuccess + '<br>';\n    flow.set('cloud', debugText);\n    msg.payload = debugText;\n    return msg;\n}\nelse if(typeof(msg.payload.dropSuccess) === typeof(true))\n{\n    var debugText = flow.get('cloud');\n    if(debugText.split(\"<br>\").length > 25 )\n        debugText = \"\";\n    debugText += \"dropSuccess: \" + msg.payload.dropSuccess + '<br>';\n    flow.set('cloud', debugText);\n    msg.payload = debugText;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 400,
        "wires": [
            [
                "dc9356f8.2ad99"
            ]
        ]
    },
    {
        "id": "fcd8398c.d42c5",
        "type": "function",
        "z": "ca4dd938.3644c8",
        "name": "",
        "func": "if(msg.payload.startsWith(\"state:\") || msg.payload.startsWith(\"error:\"))\n{\n    \n}\nelse\n{\n    var debugText = flow.get('debug');\n    debugText += msg.payload + '<br>';\n    flow.set('debug', debugText);\n    msg.payload = debugText;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "df5713b1.945db8"
            ]
        ]
    },
    {
        "id": "dc9356f8.2ad99",
        "type": "ui_text",
        "z": "ca4dd938.3644c8",
        "group": "b9f841a0.41364",
        "order": 4,
        "width": "6",
        "height": "10",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "f1618541.24eae8",
        "type": "ui_button",
        "z": "ca4dd938.3644c8",
        "name": "",
        "group": "7db14cd.6a9f6b4",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "resume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "resume",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "5f2dae5.8e2155",
                "59b84850.f2932",
                "9d0451ae.77d3b8",
                "da759b0.65f5968"
            ]
        ]
    },
    {
        "id": "a560d139.c263d",
        "type": "ui_button",
        "z": "ca4dd938.3644c8",
        "name": "",
        "group": "7db14cd.6a9f6b4",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "error",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "error",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 880,
        "wires": [
            [
                "5f2dae5.8e2155",
                "59b84850.f2932",
                "9d0451ae.77d3b8"
            ]
        ]
    },
    {
        "id": "2aa50ba4.e09ce4",
        "type": "ui_text",
        "z": "ca4dd938.3644c8",
        "group": "b8de65cc.0166b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Arduino Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "b86bc21b.603628",
        "type": "function",
        "z": "ca4dd938.3644c8",
        "name": "",
        "func": "if(msg.payload.startsWith(\"state:\"))\n{\n    msg.payload = msg.payload.substring(6);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "2aa50ba4.e09ce4"
            ]
        ]
    },
    {
        "id": "5a43068d.596188",
        "type": "ui_text",
        "z": "ca4dd938.3644c8",
        "group": "b8de65cc.0166b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Arduino Error",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "8b3f56be.c86b3",
        "type": "function",
        "z": "ca4dd938.3644c8",
        "name": "",
        "func": "if(msg.payload.startsWith(\"error:\"))\n{\n    msg.payload = msg.payload.substring(6);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "5a43068d.596188"
            ]
        ]
    },
    {
        "id": "8ae4a901.fc7538",
        "type": "inject",
        "z": "ca4dd938.3644c8",
        "name": "",
        "topic": "",
        "payload": "state:testInjectState",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "b86bc21b.603628"
            ]
        ]
    },
    {
        "id": "568ac36.1716e3c",
        "type": "inject",
        "z": "ca4dd938.3644c8",
        "name": "",
        "topic": "",
        "payload": "error:testInjectError",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "8b3f56be.c86b3"
            ]
        ]
    },
    {
        "id": "8d9df72e.3910a8",
        "type": "ui_button",
        "z": "ca4dd938.3644c8",
        "name": "",
        "group": "7db14cd.6a9f6b4",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "reset",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "9d0451ae.77d3b8",
                "5f2dae5.8e2155",
                "59b84850.f2932"
            ]
        ]
    },
    {
        "id": "da759b0.65f5968",
        "type": "function",
        "z": "ca4dd938.3644c8",
        "name": "",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "5a43068d.596188"
            ]
        ]
    },
    {
        "id": "9edc665b.0dff58",
        "type": "google-iot-core-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.googleapis.com",
        "port": "443",
        "tls": "3bbef5b6.db674a",
        "clientid": "projects/ageless-domain-239512/locations/europe-west1/registries/lego-projekt/devices/testDevice01",
        "projectid": "ageless-domain-239512",
        "registryid": "lego-projekt",
        "deviceid": "testDevice01",
        "region": "europe-west1",
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "persistout": true,
        "persistin": false,
        "compactinterval": "30"
    },
    {
        "id": "22069a8.63d0966",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/serial/by-id/usb-Adafruit_Adafruit_Feather_M0_6B0C7593504D5741372E3120FF191235-if00",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false,
        "responsetimeout": "10000"
    },
    {
        "id": "7db14cd.6a9f6b4",
        "type": "ui_group",
        "z": "",
        "name": "Arduino Commands",
        "tab": "8b99f55.4195588",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b8de65cc.0166b",
        "type": "ui_group",
        "z": "",
        "name": "Arduino Events",
        "tab": "8b99f55.4195588",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b9f841a0.41364",
        "type": "ui_group",
        "z": "",
        "name": "Cloud Events",
        "tab": "8b99f55.4195588",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3bbef5b6.db674a",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "pde_rsa_cert.pem",
        "keyname": "pde_rsa_private.pem",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "8b99f55.4195588",
        "type": "ui_tab",
        "z": "",
        "name": "LegoProjekt",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]